In [1]:
import requests
import pandas as pd

In [3]:
movies = pd.read_html("https://en.wikipedia.org/wiki/List_of_highest-grossing_films")
df = movies[0]
df

,Rank,Peak,Title,Worldwide gross,Year,Reference(s)
0,1,1,Avengers: Endgame,"$2,797,800,564",2019,[# 1][# 2]
1,2,1,Avatar,"$2,790,439,000",2009,[# 3][# 4]
2,3,1,Titanic,"$2,194,439,542",1997,[# 5][# 6]
3,4,3,Star Wars: The Force Awakens,"$2,068,223,624",2015,[# 7][# 8]
4,5,4,Avengers: Infinity War,"$2,048,359,754",2018,[# 9][# 10]
5,6,3,Jurassic World,"$1,671,713,208",2015,[# 11][# 12]
6,7,7,The Lion King,"$1,656,943,394",2019,[# 13][# 2]
7,8,3,The Avengers,"$1,518,812,988",2012,[# 14][# 15]
8,9,4,Furious 7,"$1,516,045,911",2015,[# 16][# 17]
9,10,10,Frozen II,"$1,450,026,933",2019,[# 18]
10,11,5,Avengers: Age of Ultron,"$1,402,805,868",2015,[# 19][# 17]
11,12,9,Black Panther,"$1,346,913,161",2018,[# 20][# 21]
12,13,3,Harry Potter and the Deathly Hallows â€“ Part 2,"$1,341,693,157",2011,[# 22][# 23]
13,14,9,Star Wars: The Last Jedi,"$1,332,539,889",2017,[# 24][# 25]
14,15,12,Jurassic World: Fallen Kingdom,"$1,309,484,461",2018,[# 26][# 10]
15,16,5,Frozen,"F$1,290,000,000",2013,[# 27][# 28]
16,17,10,Beauty and the Beast,"$1,263,521,126",2017,[# 29][# 30]
17,18,15,Incredibles 2,"$1,242,805,359",2018,[# 31][# 10]
18,19,11,The Fate of the Furious,"F8$1,238,764,765",2017,[# 32][# 30]
19,20,5,Iron Man 3,"$1,214,811,252",2013,[# 33][# 34]
20,21,10,Minions,"$1,159,398,397",2015,[# 35][# 12]
21,22,12,Captain America: Civil War,"$1,153,304,495",2016,[# 36][# 37]
22,23,20,Aquaman,"$1,148,161,807",2018,[# 38][# 10]
23,24,2,The Lord of the Rings: The Return of the King,"$1,142,219,401",2003,[# 39][# 40]
24,25,24,Spider-Man: Far From Home,"$1,131,927,996",2019,[# 41][# 2]
25,26,23,Captain Marvel,"$1,128,274,794",2019,[# 42][# 43]
26,27,4,Transformers: Dark of the Moon,"$1,123,794,079",2011,[# 44][# 23]
27,28,7,Skyfall,"$1,108,561,013",2012,[# 45][# 46]
28,29,10,Transformers: Age of Extinction,"$1,104,054,072",2014,[# 47][# 48]
29,30,7,The Dark Knight Rises,"$1,084,939,099",2012,[# 49][# 50]
30,31,31,Joker,"$1,074,251,311",2019,[# 51]
31,32,32,Star Wars: The Rise of Skywalker,"$1,074,144,248",2019,[# 52]
32,33,30,Toy Story 4,"$1,073,394,593",2019,[# 53][# 2]
33,34,4TS3,Toy Story 3,"$1,066,969,703",2010,[# 54][# 55]
34,35,3,Pirates of the Caribbean: Dead Man's Chest,"$1,066,179,725",2006,[# 56][# 57]
35,36,20,Rogue One: A Star Wars Story,"$1,056,057,273",2016,[14][# 58]
36,37,34,Aladdin,"$1,050,693,953",2019,[# 59][# 2]
37,38,6,Pirates of the Caribbean: On Stranger Tides,"$1,045,713,802",2011,[# 60][# 55]
38,39,24,Despicable Me 3,"$1,034,799,409",2017,[# 61][# 30]
39,40,1,Jurassic Park,"$1,029,939,903",1993,[# 62][# 63]
40,41,22,Finding Dory,"$1,028,570,889",2016,[# 64][# 65]
41,42,2,Star Wars: Episode I â€“ The Phantom Menace,"$1,027,044,677",1999,[# 66][# 6]
42,43,5,Alice in Wonderland,"$1,025,467,110",2010,[# 67][# 68]
43,44,24,Zootopia,"$1,023,784,195",2016,[# 69][# 37]
44,45,14,The Hobbit: An Unexpected Journey,"$1,021,103,568",2012,[# 70][# 71]
45,46,4,The Dark Knight,"$1,004,934,033",2008,[# 72][# 73]
46,47,2PS,Harry Potter and the Philosopher's Stone,"$975,051,288",2001,[# 74][# 75]
47,48,19DM2,Despicable Me 2,"$970,761,885",2013,[# 76][# 34]
48,49,2,The Lion King,"$968,483,777",1994,[# 77][# 63]
49,50,30,The Jungle Book,"$966,550,600",2016,[# 78][# 79]